.product-template-default button {
  text-transform: uppercase;
  font-family: Novecento;
  font-size: 1rem;
  padding: 0.8rem 1.4rem;
  background: transparent;
  border: 1px solid;
    color: rgba(0,0,0,.8);
    line-height: 1;
  }
  
  .product-template-default button:hover {
    background: #248a83;
  }
  
  .blog,
  .date,
  .search, .tag, .category{
      button{
    display: block;
    background: #fff;
    width: 45%;
    margin: 1%;
    background: transparent;
      width: 8rem;
      height: 3rem;
      color: #000000;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-family: "Novecento";
    &:hover {
      background: #248a83;
      color: #fff;
    }
    }
  }

  a.read-more{
    text-decoration: none;
  }
  
  button.menu-toggle{
    display: none;
  }

  .tax-product_type .archive-single p,
.tax-product_type .archive-single button {
  display: none;
}