.product-template-default button {
    background: #ffffff;
    padding: 2%;
    margin: 2%;
  }
  
  .product-template-default button:hover {
    background: #248a83;
  }
  
  .blog,
  .date,
  .search, .tag, .category{
      button{
    display: block;
    background: #fff;
    width: 45%;
    margin: 1%;
    background: transparent;
      width: 8rem;
      height: 3rem;
    &:hover {
      background: #248a83;
    }
    a {
      color: #000000;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-family: "Merriweather";
  
  
      &:hover {
        color: #fff;
      }
    }
  }}
  
  button.menu-toggle{
    display: none;
  }

  .tax-product_type .archive-single p,
.tax-product_type .archive-single button {
  display: none;
}