/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather/Merriweather-Light.eot');
    src: url('../../fonts/merriweather/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/merriweather/Merriweather-Light.woff2') format('woff2'),
        url('../../fonts/merriweather/Merriweather-Light.woff') format('woff'),
        url('../../fonts/merriweather/Merriweather-Light.ttf') format('truetype'),
        url('../../fonts/merriweather/Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/novecento/novecento.eot');
  src: url('../../fonts/novecento/novecento.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/novecento/novecento.woff2') format('woff2'),
      url('../../fonts/novecento/novecento.woff') format('woff'),
      url('../../fonts/novecento/novecento.ttf') format('truetype'),
      url('../../fonts/novecento/novecento.svg#.') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'novecento-bold';
    src: url('../../fonts/novecento-bold/novecento-bold.eot');
    src: url('../../fonts/novecento-bold/novecento-bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/novecento-bold/novecento-bold.woff2') format('woff2'),
        url('../../fonts/novecento-bold/novecento-bold.woff') format('woff'),
        url('../../fonts/novecento-bold/novecento-bold.ttf') format('truetype'),
        url('../../fonts/novecento-bold/novecento-bold.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}



