.site-footer {
  background: url('../../images/dark-wood.png') repeat;
  color: #ffffff;
  font-family: "Novecento";
  a {
    text-decoration: none;
    color: #ffffff;
  }
  :visited {
    color: #ffffff;
  }
}

.site-info {
  display: flex;
  justify-content: space-around;
  padding: 3%;
    position: relative;
    left: 2rem;
  h2 {
    color: #d99054;
  }
}

.copyright {
  margin-left: 35%;
  padding:2%;
}

.site-footer img{
    padding: 2rem;
    width: 75%;
    position: relative;
    left: 6rem;
}