.home, .page-template-about {
	.header-bar{
  border: none;
  width: 100%;
  a {
    color: #fff;
  &:hover{
    color: #f0e4d1;
  }
  }
}
}

.page-template-about .header-bar,
.home .header-bar {
  position: absolute;
  background: transparent;
  border: none;
}

.tax-product_type .page-header {
    border-bottom: 1px dashed #c8c8c8;
  }

  .header-bar fieldset{
    position: relative;
      left: 3rem;
  }

  .main-navigation {
    display: flex;
  }
  
  .search-submission{
      color: #fff;
      border: none;
  }
  
  fieldset{
  border:none;
  }
  
  input.search-field{
  display: none;
  text-transform: uppercase;
  }
  
  .search-form{
      display:flex;
  }
  
  label{
      padding: 2rem;
  }

  .menu-menu-1-container{
    position: relative;
      left: 6rem;
  
  }

  .error404 .site-main {
    i.fa-search{
      display: none;
    }
    input.search-field{
      display:inline-block;
    }
  } 

  .fa-search{
    color: #248a83;
    }
    
    .home, .page-template-about {
      .fa-search{
        color: #fff;
      }
    }
    
    .search h2 {
        position: relative;
        a {
          color: #248a83;
        }
      }

      .page-template-about ul.nav-menu li a,
.home ul.nav-menu li a {
  color: #fff;
}

.white-logo {
  display: none;
}

.home, .page-template-about {

.white-logo {
  display: inline-block;
  
}
}

.home, .page-template-about {

.logo {
  display: none;
}
}