/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.grid-container{
	display: grid;
	grid-template-columns: 3fr 1fr;
	width: 1120px;
	margin: auto;
   
}

.header-bar{
	display: flex;
	justify-content: space-around;
	img{
		width:20%;
	}
}

.nav-menu li{
	padding: 0.4%;
}

.entry-header{
	position: relative;
}

.entry-title{
	position: absolute;
	top:0;
}

.entry-meta{
	position: absolute;
	right: 0;
	bottom: 0;
}
.content-area{
	margin:6%;
	img{
		width: 900px;
	}
}

.widget-area{
	margin: 4%;
}