/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 1120px;
  margin: auto;
}

.post-type-archive, .tax-product_type{
  .grid-container{
    grid-template-columns: 1fr;

  }
}



.header-bar {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e1e1e1;
  img {
    width: 30%;
  }
}

ul.nav-menu {
  display: inline-block;
  width: 350px;
  li {
    padding: 2%;
    a {
      color: #248a83;
    }
  }
}
.entry-header {
  position: relative;
}

.blog h2.entry-title {
  position: absolute;
  top: 0;
  background-color: #248a83;
  padding: 6%;
  color: #ffffff;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.single-post h1.entry-title,
.date h2.entry-title {
  position: absolute;
  top: 0;
  background-color: #248a83;
  padding: 6%;
  color: #ffffff;
  font-size: 1.5rem;
}

.date h2.entry-title a {
  text-decoration: none;
  color: #ffffff;
}

.blog, .single-post, .date {
  .entry-meta {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #248a83;
  padding: 2%;
  color: #ffffff;
  margin-bottom: 1%;
}
}
.content-area {
  border-right: 1px solid #e1e1e1;
  padding: 2%;
  margin-right: 6%;
  margin-top: 3rem;
  img {
    width: 900px;
  }
}

.blog, .single{ 
  .content-area{
  margin-top:7rem;
}
}

.widget-area {
  padding: 2%;
  margin: 4%;
  margin-top: 5rem;
}

.contact-meta a {
  text-decoration: none;
  color: #248a83;
}

.copyright p {
  margin-bottom: 0;
}

.blog, .single-post, .date {

.entry-meta a {
  color: #ffffff;
  text-decoration: none;
}
}

.search .entry-meta{
  text-transform: uppercase;
}

body {
  font-family: 'Merriweather', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'novecento-bold';
}

.site-description {
  display: none;
}

img.avatar {
  width: 10%;
}

.comment-content {
  display: flex;
  position: relative;
  left: 70px;
  bottom: 70px;
  flex-direction: column;
  border-bottom: 1px solid #e1e1e1;
  padding: 2%;
}

.comment-body {
  right: relative;
  position: relative;
  right: 80px;
}

h2.widget-title,
h2.comments-title {
  color: #2f1339;
  font-size: 1.5rem;
}

span.tags-links {
  padding: 4%;
  a {
    text-decoration: none;
    color: #248a83;
  }
}

span.cat-links a,
.comments-area a {
  text-decoration: none;
  color: #248a83;
}

span.day-of-week {
  font-size: 1.15rem;
}

nav.navigation.post-navigation {
  display: none;
}

cite.fn {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
}

time {
  color: #a1a1a1;
}

.search time{
  color: #404040;
}

.blog, .single-post, .date{
  time.entry-date {
  color: #ffffff;
}
}

h3.comment-reply-title {
  text-transform: uppercase;
  font-size: 1.7rem;
}

h1.entry-title {
  text-transform: uppercase;
  font-size: 2rem;
  color: #2f1339;
}

.page-template-default h2 {
  color: #2f1339;
  font-size: 1.5rem;
  text-transform: uppercase;
}

p.comment-form-author,
p.comment-form-email,
p.comment-form-url {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.comments-area label {
  text-transform: uppercase;
  color: #2f1339;
  font-size: 1.1rem;
}

p.comment-form-author,
p.comment-form-email {
  width: 49%;
  margin: 0;
}

p.comment-form-email {
  position: relative;
  left: 380px;
  bottom: 58px;
}

p.comment-form-url {
  position: relative;
  margin: 0;
  bottom: 30px;
}

.product-template-default .widget-area,
.product-template-default .entry-meta {
  display: none;
}

.product-template-default .content-area {
  border-right: none;
  margin: auto;
  padding: 7%;
}

.product-template-default article {
  display: flex;
  justify-content: space-between;
}

.product-template-default .product-image,
.product-template-default .product-content {
  width: 42%;
}

.product-template-default h1.entry-title {
  color: #d99054;
}

.product-price {
  font-size: 1.3rem;
}

.archive-price::before{
	white-space: nowrap;
	content: '.........';

}

.product-template-default button {
  background: #ffffff;
  padding: 2%;
  margin: 2%;
}

.product-template-default button:hover {
  background: #248a83;
}

.home .entry-date {
  color: #2f1339;
}

.home .widget-area {
  display: none;
}

.home h2.entry-title {
  display: none;
}

.home .frontpage-terms {
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
  margin-left: 5%;
}
.home .frontpage-term {
  border: 1px solid #e1e1e1;
  border-top: 4px solid #e1e1e1;
  width: 22%;
  text-align: center;
  padding: 1%;

  img {
    width: 30%;
  }
}

.home .frontpage-term:hover {
  border-color: #f0e4d1;
}

.home .frontpage-terms p.term {
  background-color: #248a83;
  width: 60%;
  position: relative;
  left: 50px;
  padding: 2%;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.home h2 {
  font-size: 2rem;
  color: #2f1339;
  text-align: center;
}

.home .content-area {
  border: none;
  margin: auto;
}

.home .journal-entry {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid #e1e1e1;
  padding: 0;
  margin: 1%;
  img{
    border-bottom: 4px solid #e1e1e1;
    height: 260px;
    }
}

.home .journal-meta {
  padding: 3%;
}



.site-info h2 {
  font-size: 1.5rem;
}

.business-info h2 {
  text-align: left;
}

.front-page-journal {
  display: flex;
  margin-left: 5%;
  button {
    background: #fff;
    width: 45%;
    margin: 3%;
    &:hover {
      background: #248a83;
    }
    a {
      color: #000000;
      text-decoration: none;
      font-size: 1rem;
      text-transform: uppercase;

      &:hover {
        color: #fff;
      }
    }
  }
}



.blog button,
.date button,
.search button {
  display: block;
  background: #fff;
  width: 45%;
  margin: 1%;
  background: transparent;
    width: 8rem;
    height: 3rem;
  &:hover {
    background: #248a83;
  }
  a {
    color: #000000;
    text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8rem;
    font-family: "Merriweather";


    &:hover {
      color: #fff;
    }
  }
}

button.menu-toggle{
  display: none;
}

.home .front-page-journal h3 {
  margin: 0;
  margin-left: 3%;
  text-align: left;
}

.journal-entry a, .search .entry-title a {
  color: #248a83;
  text-decoration: none;
  font-size: 1.4rem;
  &:hover {
    color: #2f1339;
  }
}

.search .entry-title a{
  font-size: 2rem;
}

.home .banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2)),
    url(../../images/home-hero.jpg) no-repeat;
  width: 100%;
  height: 800px;
  background-size: cover;
}

.home, .page-template-about {
	.header-bar{
  border: none;
  width: 100%;
  a {
    color: #fff;
  }
}
}


.page-template .content-area {
  padding: 0;
  border: none;
  margin: 0;
  h1.entry-title{
	  color: #fff;
  }
}


.page-template-about .entry-content {
  text-align: center;
  p {
    margin-left: 22%;
    margin-right: 22%;
    text-align: left;
  }
}

.page-template-about .entry-content h2 {
  font-size: 1.8rem;
  color: #2f1339;
}

.page-template-about .header-bar,
.home .header-bar {
  position: absolute;
  background: transparent;
  border: none;
}

.page-template-about ul.nav-menu li a,
.home ul.nav-menu li a {
  color: #fff;
}

.white-logo {
  display: none;
}

.home, .page-template-about {

.white-logo {
  display: inline-block;
  
}
}

.home, .page-template-about {

.logo {
  display: none;
}
}

.home .banner img {
  position: relative;
  top: 30%;
  left: 40%;
}


.search h2 {
  position: relative;
  a {
    color: #248a83;
  }
}

aside.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: #248a83;
  }
}

.archive .page-title {
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

.search h1.page-title{
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding: 2rem;
}

.post-type-archive article.product p {
  display: none;
}

.post-type-archive .archive-product,
.tax-product_type .archive-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 3rem;
  border-top: 1px dashed #c8c8c8;
  
}

.post-type-archive h2.entry-title,
.tax-product_type h2.entry-title {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  position: relative;
  left: 2%;
}

.post-type-archive .archive-single,
.tax-product_type .archive-single {
  border: 1px solid #e1e1e1;
  height: 90%;
}

.post-type-archive .archive-price, .tax-product_type .archive-price {
  position: relative;
  
	left: 62%;
    bottom: 16%;
}
  
  


.post-type-archive .taxonomy-description {
  display: none;
}

.archive h2.entry-title {
  margin: 0;
  text-transform: capitalize;
  font-family: Merriweather;
}


.post-type-archive .archive-single, .tax-product_type .archive-single {
  img {
	height: 270px;
	border-bottom: 7px solid #e1e1e1
  }
}
.archive .term {
  padding-right: 2rem;
  text-transform: uppercase;
  position: relative;
  left: 2rem;
  font-size: 1.1rem;
  a {
    color: #248a83;
    text-decoration: none;
  }
}

.archive-terms {
  display: flex;
  justify-content: center;
}

.tax-product_type .archive-terms {
  display: none;
}

.tax-product_type .archive-single p,
.tax-product_type .archive-single button {
  display: none;
}

.tax-product_type .page-header {
  border-bottom: 1px dashed #c8c8c8;
}

.tax-product_type .taxonomy-description {
  font-size: 1rem;
  font-family: "Merriweather";
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
}

.post-type-archive .content-area,
.tax-product_type .content-area {
  border-right: none;
  padding: 0;
  margin-right:0;
}  


.main-navigation {
  display: flex;
}

.search-submission{
	color: #fff;
	border: none;
}

fieldset{
border:none;
}

input.search-field{
display: none;
}

.search-form{
	display:flex;
}

label{
	padding: 2rem;
}

.fa-search{
color: #248a83;
}

.home, .page-template-about {
  .fa-search{
    color: #fff;
  }
}

.header-bar{
     background: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 1%;
}