/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.grid-container{
	display: grid;
	grid-template-columns: 3fr 1fr;
	width: 1120px;
	margin: auto;
   
}

.header-bar{
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #e1e1e1;
	img{
		width:30%;
	}
}

.nav-menu li{
	padding: 0.4%;
}

.entry-header{
	position: relative;
}

h2.entry-title  {
	position: absolute;
	top:0;
	background-color: #248a83;
	padding: 6%;
	color: #ffffff;
	text-transform: uppercase;

	a{
		text-decoration: none;
		color: #ffffff;
	}
}

.single-post h1.entry-title{
	position: absolute;
	top:0;
	background-color: #248a83;
	padding: 6%;
	color: #ffffff;
	font-size: 1.5rem;
}

.entry-meta{
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #248a83;
	padding: 2%;
	color: #ffffff;
	margin-bottom: 1%;
}
.content-area{
	border-right: 1px solid #e1e1e1;
	padding: 2%;
    margin-right: 6%;
	img{
		width: 900px;
	}
}

.widget-area{
	padding: 2%;
	margin: 4%;
}

.contact-meta a{
	text-decoration: none;
	color: #248a83;
}

.textwidget ul{
	list-style: none;
	margin: 0;
	padding: 0;
	a{
	text-decoration: none;
	color: 	#248a83;
	}
}
span{
	font-weight: bold;
}

.copyright p{
	margin-bottom: 0;
}



.entry-meta a{
	color: #ffffff;
	text-decoration: none;
}

body {
	font-family: "Merriweather", Arial, sans-serif;
  
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: 'Novecento';
  }

  .site-description{
	  display: none;
  }

  img.avatar{
	  width: 10%;
  }
  
  .comment-content{
	display: flex;
    position: relative;
    left: 70px;
    bottom: 70px;
	flex-direction: column;
	border-bottom: 1px solid #e1e1e1;
    padding: 2%;
}

  .comment-body{
	right: relative;
    position: relative;
    right: 80px;
  }

  h2.widget-title, h2.comments-title{
	  color: #2f1339;
	  font-size: 1.5rem;
  }

  span.tags-links{
	  padding: 4%;
	  a{
		text-decoration: none;
		color: 	#248a83;
	  }
  }

  span.cat-links a, .comments-area a{
	text-decoration: none;
	color: 	#248a83;
  }
  
  span.day-of-week{
	  font-size: 1.15rem;
  }
  
  nav.navigation.post-navigation{
	  display: none;
  }

  cite.fn{
	font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
  }

  time{
	  color: #a1a1a1;
  }

  time.entry-date{
	color: #ffffff;
  }

  h3.comment-reply-title{
	  text-transform: uppercase;
	  font-size: 1.7rem;
  }

  h1.entry-title{
	text-transform: uppercase;
	font-size: 2rem;
	color: #2f1339;
}

.page-template-default h2{
	color: #2f1339;
	  font-size: 1.5rem;
	  text-transform: uppercase;
}

p.comment-form-author, p.comment-form-email, p.comment-form-url{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.comments-area label{
	text-transform: uppercase;
	color: #2f1339;
	font-size: 1.1rem;
}

p.comment-form-author, p.comment-form-email{
	width: 49%;
	margin:0;
}

p.comment-form-email{
	position: relative;
    left: 380px;
    bottom: 58px;
}

p.comment-form-url{
position: relative;
    margin: 0;
    bottom: 30px;
}

.product-template-default .widget-area, .product-template-default .entry-meta{
		display: none;
}

.product-template-default .content-area{
	border-right: none;
	margin: auto;
	padding: 7%;
}

.product-template-default article{
	display: flex;
	justify-content: space-between;
}

.product-template-default .product-image, .product-template-default .product-content{
	width: 42%;
}

.product-template-default h1.entry-title{
	color: #d99054;
}

.product-price{
	font-size: 1.3rem;
}

.product-template-default button{
	background: #ffffff;
	padding: 2%;
	margin: 2%;
}

.product-template-default button:hover{
	background: #248a83;
}
